<p id="notice"><%= notice %></p>

<h1>Songs</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to 'Buy', edit_song_path(song) %></td>
        <td><%= song.name %></td>
        <td><%= image_tag song.image %></td>
        <td><%= song.price %></td>
        <td><%= link_to 'Detail', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>
